*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.calculator{
    width: 250px;
    background-color: rgb(4, 33, 69);
    padding: 8px 10px;
    border-radius: 5px;
    margin: 100px auto;
}
.calculator div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;
}

.display-box{
    width: 100%;
    height: 70px;
    background-color: rgb(16, 44, 79);
    color: white;
    font-size: 20px;
    text-align: right;
}

.display{
    color: white;
    text-align: right;
    width: 100%;
    height: 90%;
    background-color: inherit;
    font-size: 35px;
}

.button{
    width: 50px;
    height: 50px;
    background-color: rgb(2, 9, 17);
    color: white;
    outline: none;
    font-size: 24px;
}

